[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
mcstatus = "*"
celery = "*"
pyfiglet = "*"
psycopg = {extras = ["binary", "pool"] }

[dev-packages]

[requires]
python_version = "3.12"
